quark.iso
quark-kernel
*.a
*.o

autom4te.cache/
.deps
.dirstamp
.vscode
aclocal.m4
ar-lib
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
*.Po
*~

rootfs/apps
test/
doc/
bochsrc
bx_enh_dbg.ini